@import "reset.css";
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    color: black;
    font-family: 'Gentium Basic', serif;
    font-size: 100%;
    line-height: 1.5;
}



                 /*-----Header------*/
.name{
    color:  rgb(36, 138, 132);
    margin-bottom:0;
    font-family: Calibri, sans-serif;
    font-size: 25px;
}
h3{
    margin-top:0;
}
.languages{
    margin-top:20px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
}
header{
    width:100%;
    margin:0;
    padding:10px;
    min-width:320px;
    background-color: gainsboro;
    text-align: center;
}
#myImage{
    height:210px;
    width:210px;
    background-position: center;
    margin: 10px auto;
    border-radius: 50%;
    border: 10px solid  rgb(36, 138, 132);
    overflow: hidden;
    transition: all 1s;
}

#myImage:hover{
    transform:scale(1.1,1.1);
    border: 10px solid rgba(135, 212, 240, .5);
}
ul{
    display:block;
    padding:0;
    margin:0;
}
ul li{
    list-style-type: none;
}
/*------Contacts-------*/

.photo-text a{
    color:black;
    text-decoration: none;
    border-bottom: 1px dotted ;
    cursor: pointer;
}
p img{
    width:1.3em;
    height:1.3em;
    margin-right:10px;
}
@-webkit-keyframes shake{
    100%{
        -webkit-transform:translateX(-30px);
    }
}
@keyframes shake{
    100%{
        transform:translateX(-30px);
    }
}
.icons{
    transition: all 2s;
}
.mail:before{
    content: url(../images/mail1.png);
    display: inline-block;
    vertical-align: middle;
}
.phone:before{
    content: url(../images/phone1.png);
    display: inline-block;
    vertical-align: middle;
}
.fb:before{
    content: url(../images/111.png);
    display: inline-block;
    vertical-align: middle;


}
.icons:hover{
    -webkit-animation: shake .7s ease alternate 2;
    animation: shake .7s ease alternate 2;
}
img.wave{
    width:2.5em;
    height:2.5em;
    margin-top:30px;
    margin-bottom:30px;
    -webkit-animation: wave .7s linear alternate infinite;
    animation: wave .7s linear alternate infinite;
    transition:all 2s;
}

@-webkit-keyframes wave {
    0% {
        -webkit-transform: rotate(-15deg);
    }
    100%{
        -webkit-transform: rotate(15deg);
    }
}
@keyframes wave{
    0%{
        transform:rotate(-15deg);
    }
    100%{
       transform: rotate(15deg);
    }
}

/*-----Main----*/

main{
    width: 100%;
}

.ribbon {
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 4px 20px  20px 4px;
    margin: 0 -5px 0 -25px;
    box-shadow:0 0 2px #d7f2f0;
    padding-left:25px;
    text-shadow: 0.02px 0 1px rgb(255, 255, 255);
    color: rgb(0, 70, 76);
    background-image: -webkit-linear-gradient(left, rgb(135, 212, 240)22%, rgb(36, 138, 132)100%);
    background-image: -o-linear-gradient(left, rgb(135, 212, 240)22%, rgb(36, 138, 132)100%);
    background-image: -ms-linear-gradient(left, rgb(135, 212, 240)22%, rgb(36, 138, 132)100%);
    background-image: -moz-linear-gradient(left, rgb(135, 212, 240)22%, rgb(36, 138, 132)100%);
    transition: all 0.2s;
}
.ribbon:hover{
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -moz-transform: scale(1.03);
}
section{
    position:relative;
    padding: 10px 10px 10px 20px;
    margin:0;

}
/*-----Skills-------*/
.skill_item{
    width: 16px;
    height: 16px;
    margin-right: 9px;
    margin-bottom:-5px;
    transition: all .1s;
    display:inline-block;

   }
.skill_item_obtained{
    background: url(../images/3.png) no-repeat 50% 50%/contain ;
}
.skill_item_not_obtained{
    background: url(../images/2.png) no-repeat 50% 50%/contain ;
}
 .skill_item:hover{
     transform: rotate(45deg);
    box-shadow: 0 0 4px #050000;
}
.skill_level{
    display:inline-block;
}
[alt='html5']:before{
    content:'HTML 5';
    vertical-align: middle;
    color:#129887;
    margin-right: 132px;
    font-family: Calibri, sans-serif;
    font-size: 20px;
}
[alt='css3']:before{
    content:'CSS 3';
    vertical-align: middle;
    color:#129887;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    margin-right: 150px;
}
[alt='RD']:before{
    content:'Responsive Design';
    vertical-align: middle;
    color:#129887;
    margin-right: 44px;
    font-family: Calibri, sans-serif;
    font-size: 20px;
}
[alt='JS']:before{
     content:'Javascript';
     vertical-align: baseline;
     color:#129887;
     margin-right: 115px;
     font-family: Calibri, sans-serif;
     font-size: 20px;
 }
[alt='jq']:before{
      content:'JQuery';
      vertical-align: middle;
      color:#129887;
      margin-right: 138px;
      font-family: Calibri, sans-serif;
      font-size: 20px;
  }


.skills{
    padding-top:10px;
    padding-bottom: 10px;

}
.skills h2{
    color:#129887;
    margin-top:10px;
    margin-bottom: 0;
    font-family: Calibri, sans-serif;
    font-size: 20px;
}
/*----Personal info------*/
.personal p{
    margin-top:10px;
    margin-bottom: 0;
}
/*------Education----*/
.education h3{
    color:#129887;
    margin-top:10px;
    margin-bottom: 0;
    font-family: Calibri, sans-serif;
    font-size: 20px;
}
/*-------Experience-----*/
.experience h3{
    color:#129887;
    margin-top:10px;
    margin-bottom: 0;
    font-family: Calibri, sans-serif;
    font-size: 20px;
}
.link{
    color: black;
    border-bottom:1px dotted black;
    text-decoration: none;
}
/*-----Overlay------*/
#overlay{
    background:rgba(0,0,0,0.7);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:none;
    text-align:center;
}
.open{
    border: 10px solid #ffffff;
}
#overlay img {
    margin-top: 5%;
}

#overlay p {
    color: #fff7fd;
    font-size: 20px;
}

/*-----Responsive rules------*/
@media screen and (min-width:100px){
    .skill_item{
        width: 14px;
        height: 14px;
        margin-right: 5px;
    }
    [alt='html5']:before{
        content:'HTML 5';
        vertical-align: middle;
        color:#129887;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        display: list-item;
        list-style-type: none;
        text-align: center;
        margin: 5px auto -6px auto;
    }
    [alt='css3']:before{
        content:'CSS 3';
        vertical-align: middle;
        color:#129887;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        display: list-item;
        list-style-type: none;
        text-align: center;
        margin: 5px auto -6px auto;
     }
    [alt='RD']:before{
        content:'Responsive Design';
        vertical-align: middle;
        color:#129887;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        display: list-item;
        list-style-type: none;
        text-align: center;
        margin: 5px auto -6px auto;
    }
    [alt='JS']:before{
        content:'Javascript';
        vertical-align: middle;
        color:#129887;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        display: list-item;
        list-style-type: none;
        text-align: center;
        margin: 5px auto -6px auto;
    }
    [alt='jq']:before{
        content:'JQuery';
        vertical-align: middle;
        color:#129887;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        display: list-item;
        list-style-type: none;
        text-align: center;
        margin: 5px auto -6px auto;
    }
    [alt='sass']:before{
        content:'SASS';
        vertical-align: middle;
        color:#129887;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        display: list-item;
        list-style-type: none;
        text-align: center;
        margin: 5px auto -6px auto;
    }
    [alt='Photoshop']:before{
        content:'Adobe Photoshop';
        vertical-align: middle;
        color:#129887;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        display: list-item;
        list-style-type: none;
        text-align: center;
        margin: 5px auto -6px auto;
    }
    .skill{
        text-align: center;
    }

    main{
        margin:0;
        background-color: white;
        box-shadow: -20px -10px 20px #00646d;
    }
    body{
        margin:0;
    }
}
@media screen and (min-width: 320px){
    .ribbon{
        width:300px;
    }

    main{
        background-color: white;
        box-shadow: -20px -3px 20px #474747;
    }
    #overlay img {
        margin-top: 2%;

    }
    .open{
        border: 5px solid #ffffff;
        width:300px;
        height:300px;
    }
    #overlay p {
        color: #fff7fd;
        font-size: 10px;
    }
}
@media screen and (min-width: 370px){
    main{
        background-color: white;
    }
    .skill_item{
        width: 16px;
        height: 16px;
        margin-right: 9px;
        margin-bottom:-5px;

    }
}
@media screen and (min-width: 420px){

    .ribbon{
        width:400px;
    }
    header p{
        display: inline-block;
    }
    main{
        background-color: white;
    }
    #overlay img {
        margin-top: 7%;

    }
    .open{
        border: 5px solid #ffffff;
        width:350px;
        height:350px;
    }
    #overlay p {
        color: #fff7fd;
        font-size: 15px;
    }

}
@media screen and (min-width: 600px){
    .ribbon{
        width:500px;
    }
    .skill_item{
        width: 16px;
        height: 16px;
        margin-right: 4px;
        margin-bottom:-5px;
    }
    [alt='html5']:before{
        content:'HTML 5';
        vertical-align: middle;
        color:#129887;
        margin-right: 132px;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        display: inline-block;
        margin-top: -4px;
    }
    [alt='css3']:before{
        content:'CSS 3';
        vertical-align: middle;
        color:#129887;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        margin-right: 150px;
        display: inline-block;
        margin-top: -4px;
    }
    [alt='RD']:before{
        content:'Responsive Design';
        vertical-align: middle;
        color:#129887;
        margin-right: 44px;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        display: inline-block;
        margin-top: -4px;
    }
    [alt='JS']:before{
        content:'Javascript';
        vertical-align: middle;
        color:#129887;
        margin-right: 115px;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        display: inline-block;
        margin-top: -4px;
    }
    [alt='jq']:before{
        content:'JQuery';
        vertical-align: middle;
        color:#129887;
        margin-right: 138px;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        display: inline-block;
        margin-top: -4px;
    }
    [alt='sass']:before{
        content:'SASS';
        vertical-align: middle;
        color:#129887;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        margin-right: 155px;
        display: inline-block;
        margin-top: -4px;
    }
    [alt='Photoshop']:before{
        content:'Adobe Photoshop';
        vertical-align: middle;
        color:#129887;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        margin-right: 49px;
        display: inline-block;
        margin-top: -4px;
    }
    .skill_level{
        margin:5px 0;
    }
    .skill{
        text-align: left;
    }
    header p{
        display: list-item;
    }
    .photo-text p{
        text-align: center;
    }
    main{
        background-color: white;
    }
    #overlay img {
        margin-top: 7%;

    }
    .open{
        border: 5px solid #ffffff;
        width:350px;
        height:350px;
    }
    #overlay p {
        color: #fff7fd;
        font-size: 15px;
    }
}

@media screen and (min-width: 730px) {
    body {
        display: flex;

    }

    header {
        max-width: 350px;
        /*height: 640px;*/
    }
    .ribbon{
        width: 480px;
    }
    main {
        width: 800px;
        /* height:660px;*/
        background-color: whitesmoke;

        box-shadow: -20px 3px 40px rgba(0, 0, 0, 0.49);
    }

    .photo-text p {
        text-align: center;
        padding-bottom:0;

    }

    header p{
        display: inline-block;
    }
    #overlay img {
        margin-top: 10%;

    }
    .open{
        border: 10px solid #ffffff;
        width:450px;
        height:450px;
    }
    #overlay p {
        color: #fff7fd;
        font-size: 20px;
    }
}
@media screen and (min-width: 900px) {
    body {
        margin: 0 150px;
    }
    .ribbon{
        width: 600px;
    }
    .photo-text p{
        text-align: right;
    }
}
@media screen and (min-width: 1200px) {
    body {
        margin: 0 200px;
    }
    .ribbon{
        width: 650px;
    }
    .photo-text p{
        text-align: right;
    }
}
